@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode background */
body {
  @apply text-black transition-colors duration-300 ease-in-out;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Dark mode background */
html.dark body {
  @apply text-white;
  background: linear-gradient(to right, #141e30, #243b55);
}
